@import "tailwindcss";

:root {
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #343434;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Ngăn scroll ngang */

}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-top: 30px;
  flex-grow: 1;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
}
