@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #e0c068;
  --color-primary-black: #343434;
  --color-primary-white: #f9f9f9;

  --color-primary-blue: #102E50;
  --color-secondary-blue: #2270e5;

  /* Yellow color for root */
  --color-primary-yellow: #dda853;
  --color-secondary-yellow: #e8ba70;
  --color-third-yellow: #ecd2aa;

}



:root {
  font-family: 'Inter', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  

}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-top: 30px;
  flex-grow: 1;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  width: 100%;
}
